<template>
    <div class="">
        <b-tabs v-model="activeTab">
            <b-tab-item label="My Stories">
                <h1 class="title is-2">
                    My Stories
                </h1>
            </b-tab-item>

            <b-tab-item label="Create a Game">
                <b-steps size="is-medium" :animated="true">
                    <b-step-item label="Pick a Game" icon="dice-d20" clickable>
                        <b-field label="Choose an RPG">
                            <ValidationProvider name="game" rules="required">
                                <div slot-scope="{ errors }">
                                    <b-autocomplete
                                            v-model="game"
                                            ref="autocomplete"
                                            :data="filteredDataArray"
                                            placeholder="e.g. Orange"
                                            @select="option => selected = option">
                                        <template slot="empty">No results for {{name}}</template>
                                    </b-autocomplete>
                                    <p class="has-text-danger">{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </b-field>
                    </b-step-item>
                    <b-step-item label="Game Options" icon="pen" clickable>
                        <hr>
                        <h2 class="title">Required Options</h2>
                        <hr>
                        <b-field label="Group Name">
                            <ValidationProvider name="email" rules="required">
                                <div slot-scope="{ errors }">
                                    <b-input v-model="name" placeholder="Super Awesome Group 5000"></b-input>
                                    <p class="has-text-danger">{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </b-field>
                        <b-field label="Game Description">
                            <ValidationProvider name="email" rules="required">
                                <div slot-scope="{ errors }">
                                    <b-input type="textarea"
                                             minlength="10"
                                             maxlength="3000"
                                             v-model="description"
                                             placeholder="Describe your adventure. Give your potential players as much to go on as you can.
Frequency of play, starting levels and welcoming levels can be set elsewhere, but it's no harm to give your players a good overview of what to expect here">
                                    </b-input>
                                    <p class="has-text-danger">{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </b-field>
                        <div class="columns is-centered">
                            <div class="column">
                                <b-field label="Welcoming Level">
                                    <ValidationProvider name="email" rules="required">
                                        <div slot-scope="{ errors }">
                                            <b-select placeholder="Choose a level" v-model="welcoming_level" expanded>
                                                <option
                                                        v-for="option in welcoming_levels"
                                                        :value="option.id"
                                                        :key="option.id">
                                                    {{ option.level}}
                                                </option>
                                            </b-select>
                                            <p class="has-text-danger">{{ errors[0] }}</p>
                                        </div>
                                    </ValidationProvider>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field label="Max Players">
                                    <ValidationProvider name="email" rules="required">
                                        <div slot-scope="{ errors }">
                                            <b-numberinput :editable="false" min="1" max="64" controls-position="compact"
                                                           controls-rounded v-model="max_players"></b-numberinput>
                                            <p class="has-text-danger">{{ errors[0] }}</p>
                                        </div>
                                    </ValidationProvider>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field label="Starting Level">
                                    <ValidationProvider name="email" rules="required">
                                        <div slot-scope="{ errors }">
                                            <b-numberinput :editable="false" min="1" max="64" controls-position="compact"
                                                           controls-rounded v-model="starting_level"></b-numberinput>
                                            <p class="has-text-danger">{{ errors[0] }}</p>
                                        </div>
                                    </ValidationProvider>
                                </b-field>
                            </div>
                        </div>

                        <hr>
                        <h2 class="title">Optionals</h2>
                        <hr>

                        <div class="columns is-centered">
                            <div class="column">
                                <b-field label="Frequency">
                                    <b-select placeholder="Choose a level" v-model="frequency" expanded>
                                        <option
                                                v-for="option in frequency_levels"
                                                :value="option.id"
                                                :key="option.id">
                                            {{ option.level}}
                                        </option>
                                    </b-select>
                                </b-field>
                            </div>

                            <div class="column">
                                <b-field label="Session Length">
                                    <b-select placeholder="Choose a level" v-model="session_length" expanded>
                                        <option
                                                v-for="option in session_levels"
                                                :value="option.id"
                                                :key="option.id">
                                            {{ option.level}}
                                        </option>
                                    </b-select>
                                </b-field>
                            </div>

                            <div class="column">
                                <b-field label="Minimum Age">
                                    <b-select placeholder="Choose a level" v-model="min_age" expanded>
                                        <option
                                                v-for="option in age_levels"
                                                :value="option.id"
                                                :key="option.id">
                                            {{ option.level}}
                                        </option>
                                    </b-select>
                                </b-field>
                            </div>
                        </div>

                        <div class="columns is-centered">
                            <div class="column">
                                <b-field label="Expected Sessions">
                                    <b-numberinput :editable="false" min="1" max="64" controls-position="compact"
                                                   controls-rounded v-model="expected_sessions"></b-numberinput>
                                </b-field>
                            </div>

                            <div class="column">
                                <div class="field">
                                    <div class="label">Online Only</div>
                                    <b-switch size="is-medium" v-model="online_switch"></b-switch>
                                </div>
                            </div>

                            <div class="column">
                                <div v-if="online_switch">
                                    <b-field label="Roll 20 / Online URL">
                                        <b-input v-model="online_url"></b-input>
                                    </b-field>
                                </div>
                            </div>
                        </div>

                    </b-step-item>
<!--                    <b-step-item label="Optionals" icon="map-pin">-->

<!--                    </b-step-item>-->
                    <b-step-item label="Location" icon="map-pin" clickable>
                        <div class="container mapcontainer">
                            <div id='map' style='width: 100%; height: 100%;'></div>
                            <div id='geocoder' class='geocoder'></div>
                        </div>
                    </b-step-item>
                    <b-step-item label="Finalise" icon="check" clickable>
                        <div class="columns is-centered has-text-center">
                            <div class="column">
                                <b-button @click="submitForm" type="is-primary is-large">Create World</b-button>
                            </div>
                        </div>

                    </b-step-item>
                </b-steps>
            </b-tab-item>
        </b-tabs>

    </div>
</template>

<script>
    import mapboxgl from 'mapbox-gl';
    import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
    import axios from 'axios';

    export default {
        mounted() {
            this.createMap();
        },
        props: {

        },
        components: {

        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),

                activeTab: 0,

                game: '',

                name: '',
                welcoming_level: 0,
                starting_level: 1,
                max_players: 5,
                description: '',
                online_url: '',

                expected_sessions: 0,
                min_age: null,
                session_length: null,
                frequency: null,
                online_switch: false,
                selected: null,
                data: [
                    'Orange',
                    'Apple',
                    'Banana',
                    'Pear',
                    'Lemon',
                    'Strawberry',
                    'Kiwi'
                ],
                welcoming_levels: [
                    {id: 0, level: 'Beginner'},
                    {id: 1, level: 'Intermediate'},
                    {id: 2, level: 'Advanced'},
                    {id: 3, level: 'Gary Gygax'},
                ],
                frequency_levels: [
                    {id: 0, level: 'One Shot'},
                    {id: 1, level: 'Daily'},
                    {id: 2, level: 'Weekly'},
                    {id: 3, level: 'Fortnightly'},
                    {id: 4, level: 'Monthly'},
                    {id: 5, level: 'Chaos'},
                ],
                session_levels: [
                    {id: 0, level: 'An hour or so'},
                    {id: 1, level: 'Couple hours'},
                    {id: 2, level: 'Few hours'},
                    {id: 3, level: 'Bring 2 meals'},
                    {id: 4, level: 'All day'},
                    {id: 5, level: 'All day and all night'},
                    {id: 6, level: 'Hardcore'},
                    {id: 7, level: 'Dear god please'},
                ],
                age_levels: [
                    {id: 0, level: 'All ages'},
                    {id: 1, level: '16+'},
                    {id: 2, level: '18+'},
                    {id: 3, level: '21+'},
                    {id: 4, level: '30+'},
                    {id: 5, level: '65+'},
                    {id: 6, level: 'Elves Only'},
                ],

                apiKey: 'pk.eyJ1IjoiZHlsYW5ob2JicyIsImEiOiJjand0Z2g2dzQwZXl0NDNtdWN6MHA0b3lvIn0.2Lso4R1BxrssL0_Lu5VVEg',
                map: {},
                geocoder: {},
                current_marker: null,
            };
        },
        methods: {
            submitForm(){
                console.log('Test');

                let data = {
                    'game' : this.game,
                    'name' : this.name,
                    'description' : this.description,
                    'welcoming_level' : this.welcoming_level,
                    'max_players' : this.max_players,
                    'starting_level' : this.starting_level,
                    'location' : this.location,
                    'frequency' : this.frequency ? this.frequency : null,
                    'session_length' : this.session_length ? this.session_length : null,
                    'min_age' : this.min_age ? this.min_age : null,
                    'expected_sessions' : this.expected_sessions ? this.expected_sessions : null,
                    'online_only' : this.online_switch ? this.online_switch : null,
                    'roll20' : this.roll20 ? this.roll20 : null,
                };

                axios.post('/games/create', data)
                .then(response => {
                    console.log(response);
                })
                .catch(error => {
                    console.log(error);
                });
            },
            createMap() {
                mapboxgl.accessToken = this.apiKey;
                // init the map
                this.map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    minzoom: 1.3,
                    center: [-7.557562, 53.473127], // WestMeath?
                    trackResize: true,
                    zoom: 6,
                });

                this.map.on('click', (e) => {
                    if(this.current_marker){
                        this.current_marker.remove();
                    }
                    this.current_marker = new mapboxgl.Marker()
                        .setLngLat(e.lngLat)
                        .addTo(this.map);
                });

                this.map.addControl(new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken,
                    countries: 'ie',
                    marker: false,
                    mapboxgl: mapboxgl
                }));
                this.map.addControl(new mapboxgl.NavigationControl);
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.$buefy.toast.open({
                            message: 'Form is valid!',
                            type: 'is-success',
                            position: 'is-bottom'
                        })
                        return;
                    }
                    this.$buefy.toast.open({
                        message: 'Form is not valid! Please check the fields.',
                        type: 'is-danger',
                        position: 'is-bottom'
                    })
                });
            }
        },
        computed: {
            filteredDataArray() {
                return this.data.filter((option) => {
                    return option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.name.toLowerCase()) >= 0
                })
            }
        },
    }
</script>

<style scoped>
    .mapcontainer {
        height: 45vh;
        width: 100%;
    }

    .mapboxgl-marker {
        height: 20px;
        width: 20px;
        z-index: 5;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #305bad;
    }

    .mapboxgl-canvas{
        border-radius: 5px;
    }
</style>
