<template>
    <div>
        <b-loading is-full-page :active.sync="isLoading" ></b-loading>
        <div class="columns is-gapless">
            <div class="column">
                <div id='map' style='height: 100vh; width: 50vw;'></div>
                <div id='geocoder' class='geocoder'></div>
            </div>
            <div class="column">
                <div class="container" style="background-color: #75cff0">
                    <game-tile-list :games="filtered"></game-tile-list>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import mapboxgl from 'mapbox-gl';
    import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';

    export default {
        mounted() {
            console.log('Component mounted.')
            this.createMap();
            this.fetchMarkers();
        },
        data() {
            return {
                apiKey: 'pk.eyJ1IjoiZHlsYW5ob2JicyIsImEiOiJjand0Z2g2dzQwZXl0NDNtdWN6MHA0b3lvIn0.2Lso4R1BxrssL0_Lu5VVEg',
                map: {},
                geocoder: {},
                filtered: [],
                geojson: [],
                currentMarkers: [],
                isLoading: true
            };
        },
        computed: {

        },
        methods: {
            createMap() {
                mapboxgl.accessToken = this.apiKey;
                // init the map
                this.map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    minzoom: 1.3,
                    center: [-7.557562, 53.473127], // WestMeath?
                    trackResize: false,
                    zoom: 6,
                });

                this.map.addControl(new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken,
                    countries: 'ie',
                    marker: false,
                    mapboxgl: mapboxgl
                }));
                this.map.addControl(new mapboxgl.NavigationControl);

                this.map.on('moveend', () => {
                    let {_ne, _sw} = this.map.getBounds();
                    let x1 = _sw.lat;
                    let y1 = _sw.lng;
                    let x2 = _ne.lat;
                    let y2 = _ne.lng;
                    axios.get('/api/markers',{ params: { x1: x1, y1: y1, x2: x2, y2: y2 } })
                        .then(res => {
                            this.geojson = res.data.data;
                            this.updateMarkers(res.data.data)
                        })
                        .catch(err => {
                            console.log('Error fetching daya: ' + err)
                        })
                });

                this.isLoading = false;
            },
            fetchMarkers(){
                let {_ne, _sw} = this.map.getBounds();
                let x1 = _sw.lat;
                let y1 = _sw.lng;
                let x2 = _ne.lat;
                let y2 = _ne.lng;
                axios.get('/api/markers',{ params: { x1: x1, y1: y1, x2: x2, y2: y2 } })
                    .then(res => {
                        this.geojson = res.data.data;
                        this.updateMarkers(res.data.data)
                    })
                    .catch(err => {
                    console.log('Error fetching daya: ' + err)
                })
            },
            updateMarkers(markers){
                if(this.currentMarkers.length > 0){
                    this.currentMarkers.forEach((marker) => {
                        marker.remove();
                    });
                }
                this.filtered = markers;
                markers.forEach((marker) => {
                    let mark = new mapboxgl.Marker()
                        .setLngLat(marker.geometry.coordinates)
                        .addTo(this.map);
                    this.currentMarkers.push(mark);
                });
            },
        },
    }
</script>

<style scoped>
    .geocoder {
        border-radius: 100px;
    }
    .mapboxgl-ctrl-geocoder { min-width:100%; }
</style>
