<template>
    <div class="box">
        <div class="tile is-ancestor">
            <div class="tile">
                <h1 class="title">{{ game.properties.name }}</h1>
            </div>
            <div class="tile is-vertical is-parent">
                <div class="tile is-choid">
                    <h1 class="subtitle">{{ game.properties.rpg }}</h1>
                </div>
                <div class="tile">
                    <div class="tile is-child">
                        <h1 class="subtitle is-3">
                            <strong>{{ game.properties.current_players }} / {{ game.properties.max_players }} players</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            game: Object,
        },
        mounted() {

        },
        computed: {
            // a computed getter
            fullGame: function () {
                return this.game.current_players >= this.game.max_players;
            }
        },
        data() {
            return {

            };
        },
        methods: {
            createMap() {

            },
        },
    }
</script>
