<template>
    <div class="container scrollable">
        <div v-for="game in games" class="gametile">
            <GameTile :game="game"/>
        </div>
    </div>
</template>

<script>
    import GameTile from './GameTile.vue';
    export default {
        mounted() {
            // this.fetchGames();
        },
        props: {
          games: Array
        },
        components: {
            GameTile,
        },
        computed: {
            gameData(){

            }
        },
        data() {
            return {

            };
        },
        methods: {
            // fetchGames() {
            //     axios.get('/api/games')
            //         .then(res => {
            //            this.games = res.data.data;
            //         })
            //         .catch(err => {
            //             console.log(err)
            //         })
            // },
        },
    }
</script>

<style scoped>
    .scrollable {
        height: 90vh;
        overflow-y: auto;
    }

    .gametile {
        margin-top: 15px;
    }
</style>
