<template>
    <b-field>
        <b-input placeholder="Search..."
                 rounded
                 type="search"
                 icon="magnify">
        </b-input>
        <p class="control">
            <button class="button is-primary is-rounded">Search</button>
        </p>
    </b-field>
</template>

<script>
    export default {
        mounted() {

        },
        data() {
            return {
                apiKey: '',
                map: {}
            };
        },
        methods: {

        },
    }
</script>
