<template>
    <div class="box">
        <b-field>
            <b-input placeholder="No label"></b-input>
        </b-field>

        <b-field>
            <b-input placeholder="No label"></b-input>
        </b-field>

        <b-field>
            <b-input placeholder="No label"></b-input>
        </b-field>

        <b-field>
            <b-input placeholder="No label"></b-input>
        </b-field>

        <b-field>
            <b-input placeholder="No label"></b-input>
        </b-field>
    </div>
</template>

<script>
    import GameTile from './GameTile.vue';
    export default {
        mounted() {

        },
        props: {
            user: Object
        },
        components: {
            GameTile,
        },
        computed: {
            gameData(){

            }
        },
        data() {
            return {
            };
        },
        methods: {

        },
    }
</script>

<style scoped>

</style>
