<template>
    <div class="box">
        <div class="columns has-text-centered">
            <div class="column">
                <p class="title">{{ user.member_since }}</p>
                <p class="subtitle is-size-7 has-text-grey-light">Days a Member</p>
            </div>
            <div class="column">
                <p class="title">
                    {{ user.player_rating }}
                    <b-icon
                            icon="star"
                            size="is-small"
                            type="is-warning"
                            class="star">
                    </b-icon>
                </p>
                <p class="subtitle is-size-7 has-text-grey-light">Player Rating</p>
            </div>
            <div class="column">
                <p class="title">
                    {{ user.dm_rating }}
                    <b-icon
                            icon="star"
                            size="is-small"
                            type="is-warning"
                            class="star">
                    </b-icon>
                </p>
                <p class="subtitle is-size-7 has-text-grey-light">DM Rating</p>
            </div>
            <div class="column">
                <p class="title">{{ user.games_in }}</p>
                <p class="subtitle is-size-7 has-text-grey-light">Games Played</p>
            </div>
        </div>
    </div>
</template>

<script>
    import GameTile from './GameTile.vue';
    export default {
        mounted() {
        },
        props: {
            user: Object
        },
        components: {
            GameTile,
        },
        computed: {
            gameData(){

            }
        },
        data() {
            return {
            };
        },
        methods: {

        },
    }
</script>

<style scoped>
    .star {
        margin-left: 10px;
    }
</style>
