<template>
    <div>
        <div v-for="game in games">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <b-icon
                                    icon="chevron-right"
                                    size="is-small">
                            </b-icon>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ game.name }}</p>
                            <p class="subtitle is-6">{{ game.rpg.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GameTileList from './GameTileList.vue';
    export default {
        mounted() {

        },
        props: {
            games: Array
        },
        components: {
            GameTileList,
        },
        computed: {
            gameData(){

            }
        },
        data() {
            return {
            };
        },
        methods: {

        },
    }
</script>

<style scoped>
    .star {
        margin-left: 10px;
    }
</style>
