<template>
    <div class="container wrapper">
        <b-tabs type="is-boxed" expanded>
            <b-tab-item label="Profile" icon="user">
                <StatsBar :user="user"></StatsBar>
                <Settings></Settings>
            </b-tab-item>
            <b-tab-item label="My Games" icon="dice-d20">
                <div class="box">
                    <UserGames :games="user.games"></UserGames>
                </div>
            </b-tab-item>
            <b-tab-item label="DM Section" icon="hat-wizard">
                <div class="box">
                    <DM></DM>
                </div>
            </b-tab-item>
        </b-tabs>
    </div>
</template>

<script>
    import StatsBar from './StatsBar.vue';
    import Settings from './Settings.vue';
    import UserGames from './UserGames.vue';
    import DM from './DM.vue';
    export default {
        mounted() {
            this.fetchUser();
        },
        props: {
            games: Array
        },
        components: {
            StatsBar,
            Settings,
            UserGames,
            DM
        },
        computed: {
            gameData(){

            }
        },
        data() {
            return {
                user: {},
            };
        },
        methods: {
            fetchUser() {
                axios.get('/api/me')
                    .then(res => {
                       this.user = res.data.data;
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
        },
    }
</script>

<style scoped>
    .scrollable {
        height: 90vh;
        overflow-y: auto;
    }

    .wrapper {
        margin-top: 15px;
        height: 100vh;
    }

</style>
