<template>
    <div>
        <header>
            <h1>Welcome to EireDnD</h1>
        </header>

        <section>
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-three-quarters">
                        <div class="box">
                            <h2 class="subtitle">Find A Game Near You</h2>
                            <img src="./images/button.svg" alt="Get Started Button" width="300px" height="300px">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    export default {
        mounted() {

        },
        props: {
            test: 'test',
        },
        components: {

        },
        computed: {
            test(){

            }
        },
        data() {
            return {
                test: {},
            };
        },
        methods: {
            test() {

            },
        },
    }
</script>

<style scoped>
    header {
        position: relative;
        height: 30vh;
        background-image: linear-gradient(#2ec0f9, #269ECC);
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }

    h1 {
        margin: 0;
        padding: 60px 0;
        font: 44px "Arial";
        text-align: center;
    }

    h2 {
        margin: 0;
        padding: 30px 0;
        font: 30px "Arial";
        text-align: center;
    }

    header h1 {
        color: white;
    }

    .box {
        margin-top: -100px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
</style>
